
<div class="alert alert-info"><p class="lead">Create User</p></div>
<div class="panel panel-default">
   <div class="panel-body">

<%= form_for @user do |f| %>
<div class="form-group">
    <label for="exampleInputTitle">Username</label>
   
    <%= f.text_field :username, class: "form-control" %>
    <%= @user.errors[:username].first unless @user.errors[:username].blank? %>
  </div>
  <div class="form-group">
    <label for="exampleInputContent">Email</label>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
  	<label for="password">Password</label>
  	<%= f.password_field :password, class: "form-control" %>
  	<%= @user.errors[:password].first unless @user.errors[:password].blank? %>
  </div>
  <div class="form-group">
  	<label for="passwordconfirmation">Password Confirm</label>
  	<%= f.password_field :password_confirmation, class: "form-control" %>
  	<%= @user.errors[:password_confirmation].first unless @user.errors[:password_confirmation].blank? %>
  </div>
  <div class="form-group">
    <label for=""><%= f.label :humanizer_answer, @user.humanizer_question %></label>
    <%= f.text_field :humanizer_answer, class: "form-control" %>
    <%= f.hidden_field :humanizer_question_id %>
  </div>

  <%= f.submit 'Save User', :class => 'btn btn-primary' %>
<% end %>
      
   </div>
</div>